body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.container-fixed {
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
}

.left-menu {
    background-color: #343a40;
    min-height: 100vh;
    color: white;
}

    .left-menu a {
        color: white;
        display: block;
        padding: 10px;
        text-decoration: none;
    }

        .left-menu a:hover {
            background-color: #495057;
        }

.table td,
.table th {
    vertical-align: middle;
}

.form-inline .form-control {
    width: auto;
    margin-right: 10px;
}

.btn-edit {
    color: blue;
    margin-right: 5px;
}

.btn-delete {
    color: red;
}

.highlight-box {
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.product-form {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.product-tabs {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid #ddd;
}

.nav-tabs {
    padding-bottom: 5px;
}

    .nav-tabs .nav-link {
        border: none;
        background: none;
        color: #007bff;
        padding: 10px 15px;
        font-size: 16px;
        text-decoration: none;
    }

        .nav-tabs .nav-link:hover {
            text-decoration: underline;
        }

        .nav-tabs .nav-link.active {
            font-weight: bold;
            color: black;
           
        }
#danhmuc {
    height:180px;
}